<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <%= profile.bio %>
  </p>

  <p>
    <%= profile.age %>
  </p>

  <p>
    <%= link_to profile.instagram, profile.instagram %>
  </p>

  <p>
    <%= link_to profile.x, profile.x %>
  </p>

</div>
